/* GENERAL */

body {
  background-color: #457B9D;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* HEADER */
h1 {
  color: #f1faee;
  background-color: #e63946;
  margin-top: 0;
  margin-bottom: 5%;
  padding: 3%;
  text-align: center;

}


/* MAIN */

.journalArea {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin-bottom: 3%;
} 

textarea {
  resize: none;
  font-size: 1.5rem;
  background-color: #f1faee;
}

button {
  background-color:  #e63946;
  color: white;
  font-size: 1rem;
  padding: 1%;
}


li {
  list-style-type: none;
  width: 20rem;
  height: 20rem;
  background-color: #f1faee;
  border: 2px solid #e63946;;
  margin: 2%;
  padding: 2% 2%;
}

ul {
  padding: 0;
}

/* FOOTER */

.footerParagraph {
  color: #f1faee;
  background-color:  #e63946;
  margin-bottom: 0;
  margin-top: 5%;
  padding: 1.5%;
  text-align: center;
}


/*Media Queries*/

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  li {
    width: 15rem;
    height: 15rem;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {


  .journalArea {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    margin: 5%;
  } 

  textarea {
    font-size: 1rem;
  }

}